*.txt
*.class
*.csv
*.dat
*.jar
tmp/*
birthmark/class_list/*.csv
birthmark/class_list/*.class
birthmark/*.csv
birthmark/*.txt
birthmark/*.class
birthmark/*.dat
stigmata/*
stigmata
jar/*.jar
jar/*.csv
jar/fuzzy/*.csv
jar/fuzzy/*.dat
jar/fuzzy/fuzzy_csv/*.csv
jar/fuzzy/fuzzy_csv/*.xml
jar/barthmark/*
!jar/barthmark/*.py
jar/class_compare/*
!jar/class_compare/*.py
