.DS_Store
*.txt
*.class
*.csv
*.dat
*.jar
*.xml
stigmata
data/*
!data/birth_xml
!data/birthmark
!data/class_compare
!data/class_list
!data/fuzzy
!data/fuzzy_nob
!data/fuzzy_nob_xml
!data/fuzzy_xml
!data/jar
